<template tag-name="user-label">
    <div style="display:flex; width:300px; height:25px; justify-content:space-around; border:1px solid black; margin:0.3rem;">
        <p style="margin:0.4rem; border:1px solid black; width:100px; height:12.5px; line-height:12.5px; text-align:center;">{{userName}}</p>
        <p style="margin:0.4rem; border:1px solid black; width:100px; height:12.5px; line-height:12.5px; text-align:center;">{{userId}}</p>
    </div>
</template>
<template view-port-template>
    <div style="display:flex; width:300px; height:25px; justify-content:space-around; border:1px solid black; margin:0.3rem;">
        <p style="margin:0.4rem; background-color: black; border:1px solid black; width:100px; height:12.5px;"></p>
        <p style="margin:0.4rem; background-color: black; border:1px solid black; width:100px; height:12.5px;"></p>
    </div>
</template>